@charset "UTF-8";

body {
    color:#1569EF;
    text-align: center;
    margin: 0 auto;
	background-image:
			radial-gradient(290px 300px , rgba(0, 171, 255, 0.4) 20%, transparent 20%),
			radial-gradient(800px 780px , rgba(0, 171, 255, 0.4) 20%, transparent 20%),
			radial-gradient(1000px 990px , rgba(123,222,217, 0.5) 20%, transparent 20%),
			radial-gradient(400px 380px , rgba(0, 255, 255, 0.3) 20%, transparent 20%),
			radial-gradient(750px 750px , rgba(123,222,217, 0.5) 20%, transparent 20%),
			radial-gradient(100px 100px , rgba(0, 255, 255, 0.3) 20%, transparent 20%);
		background-size: 
			1230px 1280px,
			810px 910px,
			1470px 990px,
			1200px 1700px,
			1520px 1200px,
			1100px 1300px;
		background-position: 
			-300px -550px,
			-200px 100px,
			50px 510px,
			-200px -550px,
			-180px -250px,
			130px -150px;
}

#text {
	margin: 1rem;
	font-size: 120%;
}

#password {
	margin: 1rem;
	font-size: 120%;
}

#button {
	color: #FFFFFF;
	background-color:#2DA9EA;
	border: #2DA9EA;
	font-size: 120%;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 100vh;
}

