@charset "UTF-8";

/*	各JSPのヘッダーにCSSファイルを追記する
	<link rel="stylesheet" href="style.css" >
*/

/*	テキストをセンター寄せにする
	背景を水玉模様にする
*/
body {
    color:#1569EF;
    text-align: center;
    line-height: 2;
    margin: 0 auto;
	background-image:
			radial-gradient(290px 300px , rgba(0, 171, 255, 0.4) 20%, transparent 20%),
			radial-gradient(800px 780px , rgba(0, 171, 255, 0.4) 20%, transparent 20%),
			radial-gradient(1000px 990px , rgba(123,222,217, 0.5) 20%, transparent 20%),
			radial-gradient(400px 380px , rgba(0, 255, 255, 0.3) 20%, transparent 20%),
			radial-gradient(750px 750px , rgba(123,222,217, 0.5) 20%, transparent 20%),
			radial-gradient(100px 100px , rgba(0, 255, 255, 0.3) 20%, transparent 20%);
		background-size: 
			1230px 1280px,
			810px 910px,
			1470px 990px,
			1200px 1700px,
			1520px 1200px,
			1100px 1300px;
		background-position: 
			-300px -550px,
			-200px 100px,
			50px 510px,
			-200px -550px,
			-180px -250px,
			130px -150px;
}

/*	ユーザIDとパスワードのテキストボックスと文字サイズの効果
*/
#textbox {
	margin: 1rem;
	font-size: 120%;
}

/*	各種ボタンの効果
	各JSPにid属性「id="button"」を追記する
	例）<input type="submit" id="button" value="ログイン">
*/
#button {
	color: #FFFFFF;
	background-color:#2DA9EA;
	border: #2DA9EA;
	font-size: 120%;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 100vh;
}

/*	タスク一覧画面のメニューボタンの効果
	task-list.jspにid属性「id="menubutton"」を追記する
*/
#menubutton {
	color: #FFFFFF;
	background-color:#2DA9EA;
	border: #2DA9EA;
	border-radius: 50%;
 	line-height: 100px;
 	width: 100px;
	height: 100px;
 	padding: 0;
}

/*	タスク一覧画面と詳細画面のtableタグの効果
*/
table {
    color:#1569EF;
    background-color:#FFFFFF;
    text-align: center;
    line-height:1.5;
    margin: 0 auto;
}

/*	タスク詳細画面のコメントボックスのサイズ
	task-detail.jspにid属性「id="commentbox"」を追記する
*/
#commentbox{
	padding: 3em;
}
